.expenses{
}

.expenses-add{
    margin:10px 0;
}

.expenses-filters{
    margin:10px 0;
}

.expenses-filter-month{
}

.expenses-filter-category{
}

.expenses-list{
    margin:10px 0;
}

.expenses-list-header{
    background: #808080; 
}

.expenses-list-body{
}

.expenses-list-row{
}

.expenses-list-row:nth-child(even) { 
    background: #e1e1e1;
}

.expenses-list-cell{
    overflow:hidden;
    display:inline-block;
}

.expenses-modal-error{
    color: red;
}