<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/layout.css" rel="stylesheet" />

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/angular/angular.js"></script>
    <script src="~/lib/angular-messages/angular-messages.js"></script>

    @*custom scripts*@
    <script src="~/js/app/modules/expense/module.js"></script>
    <script src="~/js/app/modules/expense/date.filter.js"></script>
    <script src="~/js/app/modules/expense/expense.controller.js"></script>

    <script src="~/js/app/modules/core/module.js"></script>
    <script src="~/js/app/modules/core/coreapi.factory.js"></script>

    <script src="~/js/app/app.js"></script>
</head>
<body>
    <div class="middle-position" ng-app="app">
        @RenderBody()
    </div>
</body>
</html>
